<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="../static/scripts.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>codeGauntlet {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container electric">

            <nav class="navbar navbar-default" id="lang-main">
                <div class="container-fluid light bold">
                    <h3>Select a language</h3>
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#languages" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="languages">
                                <button class="btn btn-default choice lang-btn" id="JavaScript">JavaScript</button>
                                <button class="btn btn-default choice lang-btn" id="Python">Python</button>
                                <button class="btn btn-default choice lang-btn" id="C++">C++</button>
                                <button class="btn btn-default choice lang-btn" id="Ruby">Ruby</button>
                    </div>
                </div>
            </nav>
            
           <nav class="navbar navbar-default" id="diff-main">
                <div class="container-fluid light bold">
                    <h3>Select a difficulty</h3>
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#difficulty" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="difficulty">
                                <button class="btn btn-default choice green-btn d" id="easy">Easy</button>
                                <button class="btn btn-default choice yellow-btn d" id="medium">Medium</button>
                                <button class="btn btn-default choice red-btn d" id="hard">Hard</button>
                    </div>
                </div>
            </nav>
            
            <nav class="navbar navbar-default" id="question-main">
                <div class="container-fluid light bold">
                    <h3>Select number of questions</h3>
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#questions" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <form action="{{ url_for('index') }}" method="post">
                       <fieldset>
                            <div class="collapse navbar-collapse" id="questions">
                                <button class="btn btn-default choice green-btn" id="10">10</button>
                                <button class="btn btn-default choice yellow-btn" id="30">30</button>
                                <button class="btn btn-default choice orange-btn" id="50">50</button>
                                <button class="btn btn-default choice red-btn" id="100">100</button>
                            </div>
                       </fieldset>
                    </form>
                    
                </div>
            </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main class="bold">
                {% block main %}{% endblock %}
            </main>
            
        </div>
        
    </body>

</html>
