{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <div class="table-responsive">
       <table class="table table-bordered">
        <TR class="light bold">
            <TD>Stock Symbol</TD>
            <TD>Name</TD>
            <TD>Quantity</TD>
            <TD>Price</TD>
            <TD>Type</TD>
            <TD>Time of Transaction (UTC)</TD>
        </TR>

    {% for i in range(0, l) %}

        <TR>
            <TD>{{ history[i]['symbol'] }}</TD>
            <TD>{{ history[i]['name'] }}</TD>
            <TD>{{ history[i]['quantity'] }}</TD>
            <TD>{{ history[i]['price'] }} </TD>
            <TD>{{ history[i]['type'] }}</TD>
            <TD>{{ history[i]['time_and_date'] }}</TD>
        </TR>
    {% endfor %}
       </table>
    </div>
    
{% endblock %}