.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

.add-dollars
{
    max-width: 120px;
}

.add-cents
{
    max-width: 50px;
}

.bold {
    font-weight: 900;
}

.electric {
    background: #3CC47C;
}

.forest {
    background: #1E392A;
}

.light {
    background: #E9C893;
}

.w {
    color: white;
}

.question-ticker{
    width: 50%;
    margin: 0 auto;
}

.choice {
	width: 100px;
	height: 66px;
    color: #FFF;
}

.lang-btn{
    background: #000;
}

.green-btn{
    background: #0c0;
}

.yellow-btn{
    background: #cc0;
}

.red-btn{
    background: #c00;
}

.orange-btn{
  background: #c80;
}

.folder-tag {
	width: 100px;
	height: 66px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
    background: #E9C893;
}